<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-36</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        Couleur
        <select v-model="couleur">
            <option value="black" selected>Noir</option>
            <option value="red">Rouge</option>
            <option value="green">Vert</option>
            <option value="blue">Bleu</option>
        </select>
        Taille
        <select v-model="taille">
            <option value="16px" selected>16 px</option>
            <option value="25px">25 px</option>
            <option value="40px">40 px</option>
            <option value="60px">60 px</option>
        </select>
        <p :style="{color: couleur, fontSize: taille}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend laoreet leo in accumsan. Vestibulum suscipit arcu at maximus consequat. Suspendisse potenti. Ut tristique ullamcorper neque, nec ultricies leo lacinia id. Donec ullamcorper tincidunt augue a accumsan. Fusce euismod tellus ac felis aliquet elementum. Aenean vestibulum a arcu et aliquet. Donec luctus quam vitae viverra luctus. Etiam nisl massa, placerat quis felis at, lobortis tempus nunc. 
        </p>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    couleur: 'black',
                    taille: '16px'
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>